# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea/
.metadata/
.packages

# Android
.gradle/
build/
**/build/
local.properties

# iOS
.symlinks/
DerivedData/
Pods/
Runner/Assets.xcassets/
Runner.xcworkspace/
profile/
xcuserdata/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets
/ios/Flutter/flutter_export_environment.sh
flutter_assets/

# Web
.dart_tool/
.idea/
build/
# Packages
.packages
pubspec.lock
